version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant:v1.15.0
    container_name: qdrant
    ports:
      - "6333:6333"   # API REST
      - "6334:6334"   # API gRPC
    volumes:
      - ./qdrant_storage:/qdrant/storage
    restart: unless-stopped
