services:
  qdrant:
    image: qdrant/qdrant:v1.15.0
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    expose:
      - 6333
      - 6334
    volumes:
      - qdrant_data:/qdrant/storage
    healthcheck:
      test: ["CMD", "bash", "-c", "echo > /dev/tcp/127.0.0.1/6333"]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  # Serviço do LLM usando Text Generation Inference (TGI)
  llm:
    image: ghcr.io/huggingface/text-generation-inference:1.4.3
    # image: ghcr.io/huggingface/text-generation-inference:2.1.0 # DESCOMENTE ESSA LINHA PARA RODAR NO SERVIDOR DO INTELI
    environment:
      - MODEL_ID=Qwen/Qwen2-0.5B-Instruct
      # - MODEL_ID=mistralai/Mistral-7B-Instruct-v0.3 # DESCOMENTE ESSA LINHA PARA RODAR NO SERVIDOR DO INTELI
      - NUM_WORKERS=1
      - MAX_INPUT_LENGTH=4096
      - MAX_TOTAL_TOKENS=8192
    # deploy: # DESCOMENTE ESSE BLOCO PARA RODAR NO SERVIDOR
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia  # ESSENCIAL: Garante que o container tenha acesso à GPU
    #           count: 1
    #           capabilities: [gpu]
    volumes:
      - llm_cache:/data
    ports:
      - "8080:80"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/health"]
      interval: 5s
      timeout: 5s
      retries: 50
      start_period: 60s

  rag-api:
    build:  # Acessa o Dockerfile
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      qdrant:
        condition: service_healthy
      llm:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - QDRANT_URL=http://qdrant:6333
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
      - LLM_API_URL=http://llm:80
    volumes:
      - ./storage:/app/storage

  rag-frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "8501:8501"
    depends_on:
      - rag-api
    environment:
    - BACKEND_API=http://rag-api:8000
    - PUBLIC_API_URL=http://localhost:8000 # COMENTE ESSA LINHA PARA RODAR NO SERVIDOR
    # - PUBLIC_API_URL=http://10.140.0.20:8000 # DESCOMENTE ESSA LINHA PARA RODAR NO SERVIDOR

volumes:
  llm_cache:
  qdrant_data:
